#formPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}

.form-heading {
  font-size: 50px;
  border-bottom: 1px solid #ed2d34;
}

.form-heading span {
  color: #ed2d34;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 15px;
}

.form-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-details {
  margin-left: 50px;
}

.form-social {
  display: flex;
  flex-direction: row;
}

.form-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 15px;
}
