#formPage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #ffffff;
	width: 100vw;
	min-height: 100vh;
	padding: 30px;
}

.form-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 10px solid #a9a9a9;
	border-radius: 20px;
	padding: 20px;
}

.form-heading {
	font-size: 50px;
	border-bottom: 1px solid #ed2d34;
}

.form-heading span {
	color: #ed2d34;
}

.fix-form {
	display: flex;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 15px;
}

.form-contact {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-social {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.form-details h4 {
	font-size: 30px;
}

.form-details span {
	color: #ed2d34;
}

.form-social {
	margin-top: 20px;
}

.form-social i {
	font-size: 20px;
}

.icons {
	display: flex;
	padding: 10px;
}

.icons p {
	margin: 10px;
}

.icons i {
	margin: 10px;
}

.form-main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 15px;
}

.form-group {
	width: 100%;
}

.form-input {
	width: 100%;
	border: 1px solid #a9a9a9;
	background-color: #a9a9a9;
	color: white;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}

.label-input {
	display: none;
}

.form-button {
	width: 100%;
	margin: 10px;
	padding: 10px;
	border: 1px solid #ed2d34;
	border-radius: 10px;
	background-color: #ed2d34;
	color: white;
	transition: 0.3s ease-in-out;
}

.form-button:hover {
	border: 1px solid #222222;
	background-color: #222222;
}
