* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  font-family: sans-serif;
}

.navbar {
  top: 10px;
  right: 10px;
  position: fixed;
  background-color: #222222;
  color: white;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  list-style: none;
  margin-right: 30px;
  margin-top: 30px;
  top: 10px;
  right: 10px;
}

.navbar-link {
  margin: 10px;
  text-decoration: none;
}

.navbar-link a {
  text-decoration: none;
  color: white;
}

.navbar-button {
  display: none;
}
