#testimonialPage {
	display: grid;
	place-items: center;
	background-color: #a9a9a9;
	width: 100vw;
	min-height: 100vh;
	padding: 30px;
}

.testimonial-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 100vw;
}

.testimonial-header {
	border-bottom: 1px solid #ed2d34;
	margin: 20px;
}

.testimonial-header h1 {
	font-size: 50px;
	color: white;
}

.testimonials-container {
	display: flex;
	/* width: 90vw; */
}

/* .testimonial-slider {
	max-width: 200px;
	height: 150px;
	overflow-y: auto;
} */

.testimonial-img img {
	width: 450px;
	height: 300px;
	object-fit: cover;
}

.vertical-menu {
	width: 500px;
	height: 400px;
	overflow-y: auto;
}

.vertical-menu::-webkit-scrollbar {
	display: none;
}

.vertical-menu .testimonials {
	background-color: #a9a9a9; /* Grey background color */
	color: black; /* Black text color */
	display: block; /* Make the links appear below each other */
	padding: 12px; /* Add some padding */
	text-decoration: none; /* Remove underline from links */
}

.vertical-menu .testimonials:hover {
	background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu .testimonials.active {
	background-color: #04aa6d; /* Add a green color to the "active/current" link */
	color: white;
}
