#testimonialPage {
	display: grid;
	place-items: center;
	background-color: #a9a9a9;
	width: 100vw;
	min-height: 100vh;
	padding: 30px;
}

.testimonial-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 100vw;
}

.testimonial-header {
	border-bottom: 1px solid #ed2d34;
	margin: 20px;
}

.testimonial-header h1 {
	font-size: 50px;
	color: white;
}

.testimonials-container {
	display: flex;
	width: 90vw;
}

.testimonial {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
	border-radius: 30px;
	color: #fff;
	cursor: pointer;
	flex: 0.5;
	margin: 10px;
	position: relative;
	transition: flex 0.7s ease-in;
}

.content {
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0;
	opacity: 0;
	transition: opacity 0.3s ease-in 0.4s;
}

.testimonial.active {
	flex: 5;
}

.testimonial.active .content {
	opacity: 1;
}

.testimonial.active p,
.testimonial.active q {
	opacity: 1;
}
