#testimonialPage {
  display: grid;
  place-items: center;
  background-color: #a9a9a9;
  width: 100vw;
  min-height: 100vh;
  padding: 30px;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
}

.testimonial-header {
  border-bottom: 1px solid #ed2d34;
  margin: 20px;
}

.testimonial-header h1 {
  font-size: 50px;
  color: white;
}

#testimonial-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.owl-carousel #testimonial-slider {
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  padding: 15px;
  margin: 0 auto;
}

.owl-carousel .owl-item .testimonials img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  object-fit: cover;
}

.contents span {
  color: #ed2d34;
}

.contents {
  color: white;
}

.contents h4 {
  color: #ed2d34;
}
