#timelinePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #aaa;
  width: 100vw;
  height: 100vh;
}

.timeline-container {
  display: grid;
  grid-template-columns: 10% 1fr 10% 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.timeline-line1 {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 6;
  background-color: black;
  width: 2px;
  height: 100%;
}

.timeline-line2 {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 6;
  background-color: black;
  width: 2px;
  height: 100%;
}

.timeline-items {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  margin: 10px;
}

.head-2 {
  grid-column: 2;
  grid-row: 1;
}

.head-3 {
  grid-column: 4;
  grid-row: 1;
}

.item-1 {
  grid-column: 2;
  grid-row: 2;
}

.item-2 {
  grid-column: 2;
  grid-row: 3;
}

.item-3 {
  grid-column: 2;
  grid-row: 4;
}

.item-4 {
  grid-column: 2;
  grid-row: 5;
}

.item-5 {
  grid-column: 4;
  grid-row: 2;
}

.timeline-btn button {
  border: 2px solid #ed2d34;
  background-color: #ed2d34;
  color: white;
  margin: 10px;
  padding: 20px;
  transition: 0.3s ease-in-out;
}

.timeline-btn button:hover {
  border: 2px solid #222222;
  background-color: #222222;
}
